<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-mini-fab mat-raised-button color="accent" (click)="onToolbarMenuToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="titleNav">Material Webs</span>
  <div class="spacer"></div>
  <a mat-flat-button color="primary">Home</a>
  <a mat-flat-button routerLink="services" color="primary">Services</a>
  <a mat-flat-button color="primary">Projects</a>
  <a mat-flat-button color="primary">About</a>
  <a mat-flat-button color="primary">Login</a>
  <a mat-flat-button color="accent">Sign Up</a>
</mat-toolbar>
