<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" opened class="mat-elevation-z6"
               [class.menu-open]="isMenuOpen"
               [class.menu-close]="!isMenuOpen">

    <mat-list>
      <mat-list-item>
        <a class="menu-items" mat-flat-button>
          <mat-icon>home</mat-icon>
          Home</a>
      </mat-list-item>
      <mat-list-item>
        <a class="menu-items" routerLink='services' mat-flat-button>
          <mat-icon>design_services</mat-icon>
          Services</a>
      </mat-list-item>
      <mat-list-item>
        <a class="menu-items" mat-flat-button>
          <mat-icon>description</mat-icon>
          Projects</a>
      </mat-list-item>
      <mat-list-item>
        <a class="menu-items" mat-flat-button>
          <mat-icon>perm_device_information</mat-icon>
          About</a>
      </mat-list-item>
      <mat-list-item>
        <a class="menu-items" mat-flat-button>
          <mat-icon>app_registration</mat-icon>
          Sign up</a>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
